@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles  */

* {
  font-family: "quicksand";
  color:white;
  background-color: #009FFD;
}

.navbar {
  display: flex;
  align-items: center;


}

.footer {
  margin: 20px 40px 20px 40px;
  padding: 5px;
  font-size: 12px;
}

.footer b {
  color: white;

}

.navbar .links {
  margin-left: 80px;
  margin-top: 30px;


}


.navbar a {
  color: white;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
 



}

.navbar a:hover {
  background-color:#FFA400;
  border: 1px;
  color: white;
  border-radius: 5px solid;
  font-style: bold;

}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.home p {
  color: rgb(24, 197, 62);


}