@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles  */

* {
  margin: 20px;
  font-family: "quicksand";
  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #333;

}


.navbar h1:hover {
  color: green
}

.footer {
  margin: 20px 40px 20px 40px;
  padding: 5px;
  background-color: black;
  font-size: 12px;
}

.footer b {
  color: white;

}

.navbar .links {
  margin-left: auto;


}

.navbar img {
  width: 15%;
}

.navbar a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  border: solid;
  background-color: #4CAF50;

}

.navbar a:hover {
  color: white;



}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.home p {
  color: rgb(24, 197, 62);


}